.full-screen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Very low opacity as requested */
    z-index: 1;
    pointer-events: none;
}

body {
    background-color: #111; /* Dark background behind the image */
}
